/*VARIABLES*/
:root{
    --azulClaro: rgba(2, 215, 215, 0.707);
    --azulMedio: rgba(21, 72, 148, 0.529);
    --marron: rgba(239, 159, 134, 0.53);
}

/*UTILIDADES*/
.texto-centrado{
    text-align: center;
}
/*AXUSTES BÁSICOS*/
html{
    overflow-x: hidden;
}
body{
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    overflow-x: hidden;
}
a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 300;
}
h1{
    display: none;
}
h2{
    display: none; 
}
p{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
}
ul{
    padding-left: 0;
    font-size: 20px;
    font-weight: 300;
}
.sec-somos ul{
    margin-bottom: 0;
}
#sec-axenda ul{
    padding-left: 20px;
}
li{
    line-height: 2;
    list-style-type: none;
    background-repeat: no-repeat; 
    background-size: 20px;
}
#sec-somos li{
    background-image: url(../img/Cruz.svg);
    background-position: left 12px;
    padding-left: 44px;
}
#sec-axenda li{
    background-image: url(../img/bullet.svg);
    background-size: 12px;
    background-position: left 18px;
    padding-left: 44px;
}
details,
select,
input[type="submit"]{
    cursor: pointer;
}
summary::before{
    content: url(../img/plus.svg);
    width: 1.2rem;
    position: absolute;
    top: 9px;
    left: 13px;
}
details[open] summary::before{
    content: url(../img/menos.svg);
    top: 0;
}

.contenedor-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
details{
    width: 100%;
}
summary{
    position: relative;
    display: inline-block;
    font-size: 24px;
    background-color: #ffffff17;
    padding: 7px;
    padding-left: 45px;
    width: 100%;
}


/***********CHICHA**********/

body{
    background-image: url(../img/bosque-contraste.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 10%; 
}

/****HEADER****/
header{
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
}
#logo{
    width: 280px;
    z-index: 1;
}
@media screen and (min-width: 900px){
    header{
        justify-content: flex-start;
        padding: 40px 0 60px 200px;
    }
    #logo{
        width: 400px;
    }
}

/****BASE SECCIÓNS****/
section{
    position: relative;
    justify-content: center;
    margin-bottom: 120px;
}
section:not(#sec-galeria){
    display: flex;
}
@media  screen and (min-width:900px) {
    section{
        margin-bottom: 250px;
    }
}
.fondo-seccion{
    background-color: rgba(5, 5, 5, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
}
.fondo-somos,
.fondo-estatutos{
    z-index: -1;
}
/*posición seccións en ordenador*/
@media screen and (min-width: 900px) {
    #sec-somos{
        justify-content: flex-end;
        width: 100%;
    }
    #sec-axenda{
        justify-content: flex-start;
    }
    #sec-estatutos{
        justify-content: flex-start;
    }
    #sec-galeria{
        margin-bottom: 0;
    }
}

/*wrapper contido seccións*/

.contido-seccion{
    position: relative;
    padding: 180px 150px 75px 150px;
    max-width: 900px;
}
#sec-axenda .contido-seccion{
   margin-left: 200px;
}
#sec-galeria .contido-seccion{
    max-width: unset;
}


/*contido seccións*/

.titulo-seccion{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 95px 150px;
}
.titulo-img{
    height: 33px;
}
#sec-galeria .titulo-seccion{
    padding: 80px;
}
#sec-galeria .titulo-img{
    height: 60px;
}
@media screen and (min-width: 500px) {
    #sec-somos .titulo-seccion,
    #sec-axenda .titulo-seccion,
    #sec-estatutos .titulo-seccion{
        justify-content: flex-start;
    }
    .titulo-img{
        height: 38px;
    }
    #sec-galeria .titulo-img{
        height: 70px;
    }
}

/*fondos rio*/
.rio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.rio-ordenador{
    display: none;
}
#rio-mobil{
    height: 100%;
    width: auto;
}
@media screen and (min-width: 900px){
    #rio-mobil{
        display: none;
    }
    .rio-ordenador{
        display: block;
        height: 100%;
        width: auto;
    }
    #sec-estatutos .rio{
        top: -450px;
    }
    footer .rio{
        bottom: 0;
        top: unset;
    }
}


/*AXENDA*/




/*PARTICIPA*/
form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
.form-item{
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.919);
    transition: transform .5s ease;
    font-size: 20px;
    font-weight: 200;
}

.form-item:focus{
    transform: scale(1.01);
}
select{
    color: gray;
}

input[type="submit"] {
    background-color: rgba(255, 235, 161, 0.38);
    color: white;
    padding: 15px!important;
    font-weight: 400;
}
input[type="submit"]:hover{
    background-color: rgba(255, 235, 161, 0.518);   
    transform: scale(1.01);

}
textarea{
    height: 150px;
}
@media screen and (max-width: 900px){
    .form-item{
        width: 68vw;
    }
}

/*ESTATUTOS*/
#sec-estatutos summary{
    width: 95%;
}
.enlace-estatutos{
    margin-top: 40px;
}
.link-externo{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 -4px 10px;
}

/*GALERÍA*/
.main-carousel{
    margin-top: 30px;
}
.carousel-cell{
    height: 250px;
    width: 350px;
    margin: 10px;
    opacity: .7;
    transition: opacity .5s ease;
}
.flickity-button-icon {
    fill: rgb(42, 42, 42);
  }
.carousel-cell:hover{
    opacity: 1;
}
.flickity-prev-next-button.previous {
    left: -80px;
  }
  .flickity-prev-next-button.next {
    right: -80px;
  }
/****FOOTER****/
footer{
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.footer-logo{
    height: 70px;
}
@media screen and (max-width: 900px) {
    footer{
        padding: 50px 0;
        justify-content: center;
    }
    .footer-logo{
        height: auto;
        width: 70vw;
    }
}