/*UTILIDADES*/
.texto-centrado{
    text-align: center;
}

/*AXUSTES BÁSICOS*/
html{
    overflow-x: hidden;
}
body{
    position: relative;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
h1{
    display: none;
}
h2{
    display: none; 
}
p{
    margin: 0;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 300;
}
/*listas*/
ul{
    padding-left: 0;
    font-size: 20px;
    font-weight: 300;
}
.sec-somos ul{
    margin-bottom: 0;
}
#sec-axenda ul{
    padding-left: 20px;
}
li{
    list-style-type: none;
    background-repeat: no-repeat; 
    background-size: 20px;
    line-height: 2; 
}
#sec-somos li{
    background-image: url(../img/Cruz.svg);
    background-position: left 12px;
    padding-left: 44px;
}
#sec-axenda li{
    background-image: url(../img/bullet.svg);
    background-size: 12px;
    background-position: left 18px;
    padding-left: 44px;
}

details,
select,
input[type="submit"]{
    cursor: pointer;
}
summary::before{
    content: url(../img/plus.svg);
    width: 1.2rem;
    position: absolute;
    top: 9px;
    left: 13px;
}
details[open] summary::before{
    content: url(../img/menos.svg);
    top: 0;
}
summary::marker{
    content: '';
}

.contenedor-details{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
details{
    width: 100%;
}
summary{
    position: relative;
    font-size: 24px;
    background-color: #ffffff17;
    padding: 7px;
    padding-left: 45px;
}


/*********************CHICHA*********************/

body{
    background-image: url(../img/fondo-bosque.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 10%; 
}
/*ríos fondo*/
#rio-mobil{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../img/rio-mobil.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#rio-ordenador{
    display: none;
}

@media screen and (min-width: 900px){
    #rio-mobil{
        display: none;
    }
    #rio-ordenador{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 100%;
    }
}


/*///////////////header//////////////////*/
header{
    display: flex;
    justify-content: center;
    padding: 30px 0 50px 0;
}
#logo{
    width: 280px;
    z-index: 1;
}
@media screen and (min-width: 900px){
    header{
        justify-content: flex-start;
        padding: 40px 0 60px 200px;
    }
    #logo{
        width: 400px;
    }
}

/*////////////////base seccións/////////////*/
section{
    position: relative;
    justify-content: center;
}
section:not(#sec-galeria){
    display: flex;
    margin-bottom: 120px;
}

.fondo-seccion{
    position: absolute;
    background-color: rgba(5, 5, 5, 0.6);
    height: 100%;
    width: 100%;
}
@media  screen and (min-width:1300px) {
    .fondo-somos,
    .fondo-estatutos{
        z-index: -1;
    }
}

/*posición seccións en ordenador*/
@media screen and (min-width: 900px) {
    #sec-somos{
        justify-content: flex-end;
        width: 100%;
    }
    #sec-axenda{
        justify-content: flex-start;
    }
    #sec-estatutos{
        justify-content: flex-start;
    }
}

/*wrapper contido seccións*/

.contido-seccion{
    position: relative;
    padding: 180px 8vw 75px 8vw;
}
#sec-galeria .contido-seccion{
    padding-bottom: 145px;
}
@media screen and (min-width: 900px) {
    .contido-seccion{
        max-width: 900px;   
        padding: 180px 150px 75px 150px;
    }
    #sec-axenda .contido-seccion{
        margin-left: 200px;
     }
    #sec-galeria .contido-seccion{
        padding-bottom: 75px;
        max-width: unset;
    }
}

/*contido seccións*/

.titulo-seccion{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 95px 150px;
}
.titulo-img{
    height: 33px;
}
#sec-galeria .titulo-seccion{
    padding: 80px;
}
#sec-galeria .titulo-img{
    height: 55px;
}
@media screen and (min-width: 900px) {
    #sec-somos .titulo-seccion,
    #sec-axenda .titulo-seccion,
    #sec-estatutos .titulo-seccion{
        justify-content: flex-start;
    }
    .titulo-img{
        height: 38px;
    }
    #sec-galeria .titulo-img{
        height: 70px;
    }
}

/*////////SECCIÓN PARTICIPA///////////*/
form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    
}
.form-item{
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.919);
    transition: transform .5s ease;
    font-size: 20px;
    font-weight: 200;
}
.form-item:focus{
    transform: scale(1.01);
}
select{
    color: gray;
}
input[type="submit"] {
    background-color: rgba(255, 235, 161, 0.38);
    color: white;
    padding: 15px!important;
    font-weight: 400;
}
input[type="submit"]:hover{
    background-color: rgba(255, 235, 161, 0.518);   
    transform: scale(1.01);

}
textarea{
    height: 150px;
}

/*////////SECCIÓN-ESTATUTOS//////////*/

.enlace-estatutos{
    margin-top: 40px;
}
.link-externo{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 -4px 10px;
}

/*GALERÍA*/
.main-carousel{
    margin-top: 30px;
}
.carousel-cell{
    height: 250px;
    width: 350px;
    margin: 10px;
    opacity: .7;
    transition: opacity .5s ease;
}
.flickity-button-icon {
    fill: rgb(42, 42, 42);
}
.carousel-cell:hover{
    opacity: 1;
}
.flickity-prev-next-button.previous {
    width: 30px;
    height: 30px;
    top: 130%;
    left: 30vw;
  }
.flickity-prev-next-button.next {
    width: 30px;
    height: 30px;
    top: 130%;
    right: 30vw;
}
.flickity-page-dots .dot{
    background: #b2b2b2;
}
@media screen and (min-width: 900px) {
    .flickity-prev-next-button.previous {
        top: 50%;
        left: -80px;
      }
    .flickity-prev-next-button.next {
        top: 50%;
        right: -80px;
    }
}

/*///////////FOOTER////////////*/
footer{
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.footer-logo{
    height: 70px;
}
@media screen and (max-width: 900px) {
    footer{
        padding: 50px 0;
        justify-content: center;
    }
    .footer-logo{
        height: auto;
        width: 70vw;
    }
}